<div class="row">
    <div class="col">
        <table class="board">
            @for (int row = 0; row < Game.MaxRows; row++)
            {
                <tr>
                    @for (int column = 0; column < Game.MaxColumns; column++)
                    {
                        var cell = CurrentGame.Cells[row, column];

                        <td class="cell" @onclick="() => Flip(cell)">
                            <div class="@(cell.IsLit ? "lit" : "unlit")"></div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

@if (!IsPlaying)
{
    <div class="row">
        <div class="column">
            <button class="btn btn-primary" @onclick="@Start">Reset</button>
        </div>
    </div>
}

@code {
    public bool IsPlaying { get; set; }
    public Game CurrentGame { get; set; }

    protected override void OnInitialized()
    {
        Start();
    }

    void Flip(Cell cell)
    {
        CurrentGame.Flip(cell.Row, cell.Column);

        if (CurrentGame.HasWon)
        {
            IsPlaying = false;
        }
    }

    void Start()
    {
        CurrentGame = new Game();
        CurrentGame.CreateBoard();
        IsPlaying = true;
    }
}
